* {
  box-sizing: border-box;
}

section.login {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=email], input[type=password] {
  margin: 5px;
}

button[type=submit] {
  margin-top: 10px;
}