* {
  box-sizing: border-box;
}

nav {
	padding-bottom: 20px;
	padding-top: 20px;
  background-color: #89ac55;
  display: flex;
  justify-content: space-around;
}

div.nav {
  display: flex;
	justify-content: space-around;
	padding: 0;
  align-items: center;
}

a {
	text-decoration: none;
  color: #ecf2e6;
}

a.homepage-link {
  font-size: 30px;
}

a.homepage-link {
  margin-left: 20px;
}

a.login-link, a.signup-link {
  padding-right: 20px;
}

@media all and (min-width: 600px) {

  nav {
    justify-content: space-between;
  }
}